/* #region Variables */
:root {
  /* Fonts */
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: serif;
  --font-logo: 'Raleway', sans-serif;

  /* Base colors */
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-navy-blue-modal: rgba(46, 47, 66, 0.4);
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-slate-light: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-grey: rgba(46, 47, 66, 0.7);
  --color-white: #fff;
  --color-dairy: #fcfcfc;

  /* Semantic / Usage */
  --cl-text-primary: var(--color-slate);

  --cl-btn-primary: var(--color-iris);
  --cl-btn-primary-hover: var(--color-ocean);
  --cl-btn-primary-active: var(--color-ocean);

  --cl-link: var(--color-iris);
  --cl-link-hover: var(--color-ocean);
  --cl-link-active: var(--color-ocean);

  --cl-nav-link: var(--color-navy-blue);
  --cl-nav-link-hover: var(--color-ocean);
  --cl-nav-link-active: var(--color-ocean);

  --cl-contacts-link: var(--color-slate);
  --cl-contacts-link-hover: var(--color-ocean);
  --cl-contacts-link-active: var(--color-ocean);

  --cl-logo: var(--color-iris);
  --cl-logo-accent-dark: var(--color-navy-blue);
  --cl-logo-accent-light: var(--color-cloud);

  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}

/* endregion */

/* #region Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

/* #endregion */

/* #region Base */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cl-text-primary);
  background-color: var(--color-white);
}

/* #endregion */

/* #region Common */

.btn {
  background-color: var(--cl-btn-primary);
  color: var(--color-white);
  border: none;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  text-align: center;
  text-decoration: none;
  /* transition: background-color var(--transition-duration)
    var(--transition-timing-function); */

  /* &:hover,
  &:focus,
  &:active {
    background-color: var(--cl-btn-primary-hover);
  } */
}

/* temporarry added for autocheck */
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

.link {
  color: var(--cl-link);
  text-decoration: none;
  /* transition: color var(--transition-duration) var(--transition-timing-function); */

  &:hover,
  &:focus,
  &:active {
    color: var(--cl-link-hover);
  }
}

.logo {
  font-family: var(--font-logo);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cl-logo);
}

.logo__accent--dark {
  /* color: var(--cl-logo-accent-dark); */

  /* temporarry added for autocheck */
  color: #2e2f42;
}

.logo__accent--light {
  /* color: var(--cl-logo-accent-light); */

  /* temporarry added for autocheck */
  color: #f4f4fd;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  text-transform: capitalize;
  text-align: center;
}

/* #endregion */

/* #region Header */
.header {
}

.header__nav {
}

.nav {
}

.nav__list {
}

.nav__item {
}

.nav__link {
  font-weight: 500;
  color: var(--cl-nav-link);
  text-decoration: none;
  /* transition: color var(--transition-duration) var(--transition-timing-function); */

  /* &:hover,
  &:focus,
  &:active {
    color: var(--cl-nav-link-hover);
  } */
}

/* temporarry added for autocheck */
.nav__link:hover,
.nav__link:focus {
  color: #404bbf;
}

/* .nav__link:focus {
  color: #404bbf;
} */

.contacts {
}

.contacts__list {
}

.contacts__item {
}

.contacts__link {
  color: var(--cl-contacts-link);
  text-decoration: none;
  /* transition: color var(--transition-duration) var(--transition-timing-function); */

  /* &:hover,
  &:focus,
  &:active {
    color: var(--cl-contacts-link-hover);
  } */
}

/* temporarry added for autocheck */
.contacts__link:hover,
.contacts__link:focus {
  color: #404bbf;
}
/* #endregion */

/* #region Hero */
.hero {
  background-color: var(--color-navy-blue);
}

.hero__title {
  font-family: var(--font-secondary);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--color-white);
  text-align: center;
}

/* #endregion */

/* #region About */
.list {
}

.list-item {
  background-color: var(--color-white);
}

.list-item__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

.list-item__description {
}

/* #endregion */

/* #region Team */

.team {
  background-color: var(--color-cloud);
}

.team__img {
}

.team .list-item__title {
  text-align: center;
}

.team .list-item__description {
  text-align: center;
}

/* #endregion */

/* #region Portfolio */

.portfolio {
}

.portfolio__img {
}

/* #endregion */

/* #region Footer */

.footer {
  background-color: var(--color-navy-blue);
}

.footer__text {
  color: var(--color-cloud);
}

/* #endregion */
