/* #region Variables */
:root {
  /* Fonts */
  --font-primary: 'Roboto', sans-serif;
  --font-logo: 'Raleway', sans-serif;

  /* Base colors */
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-navy-blue-modal: rgba(46, 47, 66, 0.4);
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-slate-light: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-grey: rgba(46, 47, 66, 0.7);
  --color-white: #fff;
  --color-dairy: #fcfcfc;

  /* Semantic / Usage */
  --cl-text-primary: var(--color-slate);

  --cl-btn-primary: var(--color-iris);
  --cl-btn-primary-hover: var(--color-ocean);
  --cl-btn-primary-active: var(--color-ocean);

  --cl-link: var(--color-iris);
  --cl-link-hover: var(--color-ocean);
  --cl-link-active: var(--color-ocean);

  --cl-nav-link: var(--color-navy-blue);
  --cl-nav-link-hover: var(--color-ocean);
  --cl-nav-link-active: var(--color-ocean);

  --cl-contacts-link: var(--color-slate);
  --cl-contacts-link-hover: var(--color-ocean);
  --cl-contacts-link-active: var(--color-ocean);

  --cl-logo: var(--color-iris);
  --cl-logo-accent-dark: var(--color-navy-blue);
  --cl-logo-accent-light: var(--color-cloud);

  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}

/* endregion */

/* #region Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* #endregion */

/* #region Base */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cl-text-primary);
  background-color: var(--color-white);
}

/* #endregion */

/* #region Common */
h2.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.section {
  padding: 120px 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  min-width: 169px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  color: var(--color-white);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  text-align: center;
  text-decoration: none;
  background-color: var(--cl-btn-primary);
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--cl-btn-primary-hover);
  }
}

.link {
  color: var(--cl-link);
  text-decoration: none;
  transition: color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus,
  &:active {
    color: var(--cl-link-hover);
  }
}

.logo {
  display: inline-block;
  font-family: var(--font-logo);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cl-logo);
}

.logo__accent--dark {
  color: var(--cl-logo-accent-dark);
}

.logo__accent--light {
  color: var(--cl-logo-accent-light);
}

.section-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  text-transform: capitalize;
  text-align: center;
}

/* #endregion */

/* #region Header */
.header {
  padding: 0;

  border-bottom: 1px solid var(--color-cornflower);
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .logo {
  padding: 24px 0;
  margin-right: 76px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 40px;
}

.nav__link {
  position: relative;
  display: inline-block;
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  color: var(--cl-nav-link);
  text-decoration: none;
  transition: color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus,
  &:active {
    color: var(--cl-nav-link-hover);
  }
}

.nav__link.active {
  color: var(--cl-nav-link-active);
}

.nav__link.active::after {
  content: '';
  position: absolute;
  display: block;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--cl-nav-link-active);
}

.contacts__list {
  display: flex;
  gap: 40px;
}

.contacts__link {
  display: inline-block;
  padding: 24px 0;
  line-height: 1.5;
  color: var(--cl-contacts-link);
  text-decoration: none;
  transition: color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus,
  &:active {
    color: var(--cl-contacts-link-hover);
  }
}
/* #endregion */

/* #region Hero */
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
  background:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin: 0 auto 48px;
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--color-white);
  text-align: center;
}

.hero .btn {
  display: block;
  margin: 0 auto;
}
/* #endregion */

/* #region About */
.about .list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.about .list-item {
  width: 264px;
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
}

.about-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 112px;
  margin-bottom: 8px;
  background-color: var(--color-cloud);
  border-radius: 4px;
  border: 1px solid var(--color-slate-light);
}

.list-item__title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
/* #endregion */

/* #region Team */

.team {
  background-color: var(--color-cloud);
}

.team .list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.team .list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc((100% - 3 * 24px) / 4);
  background-color: var(--color-white);
  border-radius: 0px 0px 4px 4px;
  box-shadow:
    0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team .list-item__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 32px 0;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 24px;
  width: 100%;
}

.social-link {
  --icon-background-color: var(--color-iris);
  --icon-hover-background-color: var(--color-ocean);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--icon-background-color);
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.social-link:hover,
.social-link:focus,
.social-link:active {
  background-color: var(--icon-hover-background-color);
}

.social-icon {
  fill: var(--color-cloud);
}
/* #endregion */

/* #region Portfolio */

.portfolio .list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio .list-item {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 48px) / 3);
  background-color: var(--color-white);
  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}

.portfolio__img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio .overlay {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: var(--color-iris);
  color: var(--color-cloud);
  transform: translateY(100%);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.portfolio .list-item:hover .overlay {
  transform: translateY(0%);
}

.portfolio .list-item:hover {
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio .list-item__info {
  padding: 32px 16px;
  border: 1px solid var(--color-cornflower);
  border-top: none;
}

.portfolio .list-item__title {
  margin-bottom: 8px;
}
/* #endregion */

/* #region Footer */

.footer {
  padding: 100px 0;
  background-color: var(--color-navy-blue);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-info {
  margin-right: 120px;
}

.footer .logo {
  margin-bottom: 16px;
}

.footer__caption {
  color: var(--color-cloud);
  max-width: 264px;
}

.footer .socials-list {
  display: flex;
  flex-direction: column;
  width: 208px;
}

.footer .social-link {
  --icon-background-color: var(--color-iris);
  --icon-hover-background-color: var(--color-green);
}

.footer .social-list__header {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-white);
}

.footer .socials {
  gap: 16px;
}

/* #endregion */
